---
layout: post
title: Hello World
date: 2013-06-07
---

div This is a simple Hello **World** post

p *sample* [DocPad](http://docpad.org/) post

blockquote
  | Some code
  | 
  | Can go in here too

p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

p
  :markdown
    Let us code:

        // js
        (function($) {
          var one = 1;
          return one;
        })(jQuery);

        var self = this;
        if (self.someHughProperty.indexOf('somethingThatMightExist') && self.someOtherInternalProperty.anotherVeryLargeStringForAName.length > 1000) {
          return false;
        } else {
          return true;
        }
