// Text
$color-text: #1F1A17;
$color-text-muted: lighten($color-text, 40%);

// Backgrounds
$color-background-back: #CCCC99;

// Links
$color-text-link: #A21E09;
$color-text-link-header: #A21E09;

// Buttons
$color-background-btn-primary: #835C33;
