// Text
$color-text: #030C22;
$color-text-muted: lighten($color-text, 40%);

// Backgrounds
$color-background-back: #E0EFF1;
$color-background-container: #FFFFFF;

// Links
$color-text-link: #5AB1B6;
$color-text-link-header: #680148;
$color-text-link-accent: #5AB1B6;

// Buttons
$color-background-btn-primary: #37939B;

// Blockquotes
$color-text-blockquote: #680148;
$border-left-blockquote: 5px solid $color-text-blockquote;
