@import './custom';
@import 'mobi.css/src/variables';
@import 'mobi.css/src/mixins';
@import 'mobi.css/src/resets';
@import 'mobi.css/src/layout';
@import 'mobi.css/src/flexbox';
// @import 'mobi.css/src/table';
@import 'mobi.css/src/form';
@import 'mobi.css/src/utilities';

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: $color-text-link-header;
  }
}

.top-header {
  padding: $width-gap-half;
  overflow: hidden;
  background-color: $color-background-back;
  margin-left: -$width-gap;
  margin-right: -$width-gap;

  .avatar img {
    height: 46px;
    border-radius: 23px;
  }

  .title {
    font-weight: bold;
    font-size: $font-size-h3;
    color: $color-text-link-accent;

    a {
      color: $color-text-link-accent;
    }
  }
}

aside.sidebar {
  max-width: 250px;
  padding: $width-gap-big $width-gap;
  text-align: center;

  a {
    color: $color-text-link-accent;
  }

  .avatar img {
    border-radius: 200px;
  }
}

.post-header {
  .meta {
    margin-left: $width-gap;

    .summary {
      font-size: $font-size-small;
    }

    .date {
      font-size: $font-size-sub-sup;
    }
  }
}

.post-navigation {
  a {
    color: $color-text-link-accent;
    border-bottom: 1px dotted $color-text-link-accent;
  }

  .prev {
    text-align: left;
  }

  .next {
    text-align: right;
  }
}

.post-navigation.all-posts {
  text-align: center;
}

.copyright {
  font-size: $font-size-small;
}