/*
  Minimaxing 3.0 by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

/* Nib */

@import 'nib/gradients'

/* Fonts */

// @import url("http://fonts.googleapis.com/css?family=Lato|PT+Sans|Inconsolata|Raleway");

/* Semantic GS */

@import "../../files/vendor/grid.styl";

column-width = 20px
gutter-width = 60px
columns = 12

total-width = 100%


/* Variables */

backgroundColor = #ffffff
textColor = #1C140D

headerColor = #CBE86B
headerAccentColor = #1C140D

heroColor = #1C140D
heroAccentColor = #F2E9E1

footerColor = #F2E9E1
footerAccentColor = #F2E9E1

headingColor = #9FB554
linkColor = lighten(textColor, 20%)

// Device definitions
non-mobile = "(min-width: 721px)"
large-display = "(min-width: 961px)"
standard = "(min-width: 721px) and (max-width: 960px)"
mobile = "(max-width: 720px)"

// Device specific mixins
hideOn(device)
  display: inherit // bug in stylus, we need a core rule
  @media device
    display: none !important

showOn(device)
  display: inherit // bug in stylus, we need a core rule
  @media device
    display: inherit !important


/* Mixins */

border-radius(radius = 10px)
  border-radius: radius
  -moz-border-radius: radius
  -webkit-border-radius: radius


/* Basic */

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  -o-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box


body
  font-size: 16px
  background-color: backgroundColor
  font-family: "PT Sans", sans-serif
  color: textColor
  line-height: 1.6em
  padding: 0
  margin: 0

pre, code
  font-family: Inconsolata, "Courier New", monospace
  line-height: 1.1em
  color: #1d1f21
  background-color: #c5c8c6
  overflow: auto
  padding: 2px 4px

pre code
  padding: 0

article
  margin-bottom: 20px
  padding-bottom: 20px
  border-bottom: 1px solid #f4f4f4

img
  border: 0

h1,h2,h3,h4,h5,h6
  font-family: "Lato", sans-serif
  color: headingColor
  margin-top: 0
  padding-top: 0
  a
    border: 0
    color: headingColor

h1
  font-size: 1.8em
  text-decoration: underline
  color: headerAccentColor
  a
    color: headerAccentColor
h2
  font-size: 1.6em

a
  color: linkColor
  text-decoration: none
  border-bottom: 1px dotted linkColor

a:hover
  color: lighten(linkColor, 20%)

a.button
  display: inline-block
  padding: 10px 20px
  border-radius()
  background-color: linkColor
  color: backgroundColor
  margin-right: 6px


/* Page styles */

#header-wrapper
  background-color: headerColor
  background: linear-gradient(top, lighten(headerColor, 2%), headerColor)

  header
    background-color: headerAccentColor
    background: linear-gradient(top, lighten(headerAccentColor, 10%), headerAccentColor)
    padding: 0 20px
    clearfix()

    h1.text
      display: none
    h1
      font-size: 1.4em
      color: #fff
      float: left
      padding: 0
      margin: 0
      text-decoration: none
      img
        margin-top: 4px
        width: 52px
        border-radius(26px)

    nav
      color: #eee
      float: right

      a
        padding: 20px 6px
        display: inline-block
        border: 0

      a:hover
        background-color: lighten(headerAccentColor, 12%)

    a
      color: inherit

@media non-mobile
  #header-wrapper
    margin: 0 auto
    padding: 20px 0

    header
      padding: 0 20px
      width: 80%
      margin: auto
      border-radius()
      h1.notext
        display: none
      h1.text
        display: block
      h1
        font-family: "Raleway", sans-serif
        margin-top: 4px
        img
          width: 64px
          border-radius(32px)
          vertical-align: middle
          margin-right: 4px
      nav
        a
          padding: 26px 10px

@media large-display
  #header-wrapper header
    h1
      font-size: 1.8em
      img
        margin-right: 8px


#hero
  margin-top: -20px
  clearfix()
  background-color: heroColor

  ul
    list-style: none

  section
    display: none
    text-align: center
    padding: 10px 0

  section.profile
    column(12)
    display: block

@media non-mobile
  #hero
    padding: 20px 0
    margin-bottom: 20px
    background-color: #e0e8a5
    background-image: url('../images/hero-bg.png')
    background-repeat: repeat

    section
      display: block
      column(4)
      background-color: heroAccentColor
      border-radius()
      text-align: left
      padding: 10px

    section.profile
      column(4)


#content-wrapper
  min-height: 1024px
  padding: 20px 0
  clearfix()

  #content
    column(12)

  #sidebar
    column(12)

@media non-mobile
  #content-wrapper
    width: 80%
    margin: 0 auto
    #content
      column(8)
      offset(2)

    #sidebar
      column(2)


#footer-wrapper
  background-color: footerColor
  padding: 40px 20px

  footer
    text-align: right


/* Specific page styles */

// Home Page

#home
  #left
    display: none

  #right
    column(12)

  ul
    list-style: none
    padding: 0

@media non-mobile
  #home
    #left
      column(4)

    #right
      column(8)

@media standard
  #home
    #left
      font-size: 0.8em

// Portfolio Page
#portfolio section
  column(4)

// Posts Page
#post-list
  .readmore
    display: inline-block
    padding: 10px 20px
    border-radius()
    background-color: linkColor
    color: backgroundColor

#post
  .date
    color: #e6e6e6
    text-align: right
    font-size: 0.8em