<!-- Scripts -->
{{#if2 NODE_ENV 'production' }}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8159186-1', 'auto');
    ga('send', 'pageview');
    ga('send', 'event', 'OnPage', '0_seconds', 'Read Tracking');
    setTimeout("ga('send', 'event', 'OnPage', '3_seconds', 'Read Tracking')", 3000);
    setTimeout("ga('send', 'event', 'OnPage', '15_seconds', 'Read Tracking')", 15000);
    setTimeout("ga('send', 'event', 'OnPage', '30_seconds', 'Read Tracking')", 30000);
    setTimeout("ga('send', 'event', 'OnPage', '60_seconds', 'Read Tracking')", 60000);
  </script>
  <!-- End Google Analytics -->
{{/if2}}
