---
layout: page
title: "Blog Posts"
pageOrder: 50
---

h1 Blog Posts

- var posts = 
each post,idx in getCollection('posts', {limit: 1}).toJSON()
  if idx < 10
    - var evenOdd = (idx%2) ? 'even' : 'odd'
    article(class=evenOdd)
      h3.title
        a(href=post.url)= post.title
      //- .content!= post.contentRenderedWithoutLayouts
