---
layout: page
title: "Old Posts"
---

#post-list
  h1 Older Posts


  section.recent-posts
    div.nav
      a.newer(href="/posts") Back to Newer Posts &gt;&gt;

    each post,idx in getCollection('posts').toJSON().splice(11)
      - var evenOdd = (idx%2) ? 'even' : 'odd'
      article(class=evenOdd)
        h2.title
          a(href=post.url)= post.title
        .content
          - if (post.icon)
            img(src="/images/icons/#{post.icon}.jpg").icon

          != getPostPreview(post)

          a.button.readmore(href=post.url) Read More

    div.nav
      a.newer(href="/posts") Back to Newer Posts &gt;&gt;
