---
layout: page
title: "Posts"
pageOrder: 50
---

#post-list
  h1 Recent Posts

  section.recent-posts
    each post,idx in getCollection('posts').toJSON().splice(0, 11)
      - var evenOdd = (idx%2) ? 'even' : 'odd'
      article(class=evenOdd)
        h2.title
          a(href=post.url)= post.title
        .content
          p!= getPostPreview(post)

          a.button.readmore(href=post.url) Read More

    div
      a.older(href="old-posts") &lt;&lt; Older Posts