RewriteEngine on

RewriteRule ^page /posts [R=301,L]

RewriteRule ^2007/04/09/why-must-computer-oems-suck /posts/why-must-computer-oems-suck/ [R=301,L]
RewriteRule ^2007/04/12/configuring-access-in-mediawiki /posts/configuring-access-in-mediawiki/ [R=301,L]
RewriteRule ^2007/04/25/touchpad-speed-in-linux /posts/touchpad-speed-in-linux/ [R=301,L]
RewriteRule ^2007/09/06/usb-devices-in-virtualbox /posts/usb-devices-in-virtualbox/ [R=301,L]
RewriteRule ^2007/12/02/python-pylons-and-fastcgi-on-dreamhost /posts/python-pylons-and-fastcgi-on-dreamhost/ [R=301,L]
RewriteRule ^2007/12/04/ubuntu-firefox-flash-and-sound /posts/ubuntu-firefox-flash-and-sound/ [R=301,L]
RewriteRule ^2007/12/16/valid-xhtml-and-opening-links-in-new-windows /posts/valid-xhtml-and-opening-links-in-new-windows/ [R=301,L]
RewriteRule ^2008/01/13/choosing-default-sound-card-in-ubuntu /posts/choosing-default-sound-card-in-ubuntu/ [R=301,L]
RewriteRule ^2008/02/08/rolling-your-own-deb-package-getting-secure-vpn-tunneling-on-ubuntu /posts/rolling-your-own-deb-package-getting-secure-vpn-tunneling-on-ubuntu/ [R=301,L]
RewriteRule ^2008/03/23/wordpress-users-check-your-registered-user-list /posts/wordpress-users-check-your-registered-user-list/ [R=301,L]
RewriteRule ^2008/03/23/my-foray-into-data-recovery /posts/my-foray-into-data-recovery/ [R=301,L]
RewriteRule ^2008/06/07/skirting-isp-torrent-fitlering /posts/skirting-isp-torrent-fitlering/ [R=301,L]
RewriteRule ^2008/07/04/mootools-i-choose-you /posts/mootools-i-choose-you/ [R=301,L]
RewriteRule ^2008/08/02/a-history-of-coding-and-computers /posts/a-history-of-coding-and-computers/ [R=301,L]
RewriteRule ^2008/11/17/drupals-on-hold /posts/drupals-on-hold/ [R=301,L]
RewriteRule ^2009/01/03/building-a-better-captcha /posts/building-a-better-captcha/ [R=301,L]
RewriteRule ^2008/08/18/farewell-wordpress /posts/farewell-wordpress/ [R=301,L]
RewriteRule ^2009/01/29/multiple-drive-failures-in-raid-5 /posts/multiple-drive-failures-in-raid-5/ [R=301,L]
RewriteRule ^2009/01/30/fallout-3-terminal-hacker /posts/fallout-3-terminal-hacker/ [R=301,L]
RewriteRule ^2008/08/23/media-playback-in-ubuntu /posts/media-playback-in-ubuntu/ [R=301,L]
RewriteRule ^2008/05/27/ill-have-one-of-your-finest-arduinos-please /posts/ill-have-one-of-your-finest-arduinos-please/ [R=301,L]
RewriteRule ^2009/03/11/my-sweet-new-laptop /posts/my-sweet-new-laptop/ [R=301,L]
RewriteRule ^2009/03/16/how-not-to-sell-mp3s /posts/how-not-to-sell-mp3s/ [R=301,L]
RewriteRule ^2009/06/14/ubuntu-64-bit-and-adobe-air /posts/ubuntu-64-bit-and-adobe-air/ [R=301,L]
RewriteRule ^2009/10/01/pptp-vpn-routing-in-ubuntu-using-network-manager /posts/pptp-vpn-routing-in-ubuntu-using-network-manager/ [R=301,L]
RewriteRule ^2009/10/16/asynchronous-php /posts/asynchronous-php/ [R=301,L]
RewriteRule ^2010/01/06/living-with-pulseaudio-via-pulseaudio-device-chooser /posts/living-with-pulseaudio-via-pulseaudio-device-chooser/ [R=301,L]
RewriteRule ^2010/03/30/samsung-x360-backlight-control-with-ubuntu /posts/samsung-x360-backlight-control-with-ubuntu/ [R=301,L]
RewriteRule ^2010/05/11/serving-files-in-internet-explorer-over-https /posts/serving-files-in-internet-explorer-over-https/ [R=301,L]
RewriteRule ^2009/04/23/ubuntu-64-bit-firefox-and-flash /posts/ubuntu-64-bit-firefox-and-flash/ [R=301,L]
RewriteRule ^2009/02/09/remote-backups-with-amazons-s3 /posts/remote-backups-with-amazons-s3/ [R=301,L]
RewriteRule ^2011/11/03/ubuntu-node-and-heroku /posts/ubuntu-node-and-heroku/ [R=301,L]
RewriteRule ^2010/05/13/tweaking-gnome-for-low-resolution-displays /posts/tweaking-gnome-for-low-resolution-displays/ [R=301,L]
RewriteRule ^2012/01/14/trello-is-awesome /posts/trello-is-awesome/ [R=301,L]
RewriteRule ^2012/03/29/slim-jade /posts/slim-jade/ [R=301,L]
RewriteRule ^2012/05/14/my-move-to-mac /posts/my-move-to-mac/ [R=301,L]
RewriteRule ^2012/02/10/evernotes-clearly /posts/evernotes-clearly/ [R=301,L]
RewriteRule ^2010/05/26/atheros-ar8131-and-linux /posts/atheros-ar8131-and-linux/ [R=301,L]
RewriteRule ^2012/01/06/validating-startup-ideas /posts/validating-startup-ideas/ [R=301,L]
RewriteRule ^2012/06/14/why-i-use-sublime-text /posts/why-i-use-sublime-text/ [R=301,L]
RewriteRule ^2012/05/28/easy-screenshot-sharing-in-osx /posts/easy-screenshot-sharing-in-osx/ [R=301,L]
RewriteRule ^2012/06/07/git-flow /posts/git-flow/ [R=301,L]
RewriteRule ^2012/06/03/more-git-magic /posts/more-git-magic/ [R=301,L]
RewriteRule ^2012/06/10/hello-there-windows-phone /posts/hello-there-windows-phone/ [R=301,L]
RewriteRule ^2012/11/16/going-back-to-neutral /posts/going-back-to-neutral/ [R=301,L]
RewriteRule ^2013/01/05/stripe / [R=301,L]
RewriteRule ^2013/02/14/responsive-layouts-with-stylus /posts/responsive-layouts-with-stylus/ [R=301,L]
RewriteRule ^2012/05/24/git-info-in-your-bash-prompt /posts/git-info-in-your-bash-prompt/ [R=301,L]
RewriteRule ^2012/12/02/hacking-recaptcha /posts/cheating-recaptcha/ [R=301,L]
