---
layout: default
---

#content
  section#post

    h1= document.title
    .date Posted: 
      = moment(document.date).format("MMM Do, YYYY")

    hr

    .post-content
      - if (document.icon)
        img(src="/images/icons/#{document.icon}.jpg").icon

      != content

    a(href="/posts") Back to posts

include includes/sidebar